body,
html {
  width: 100%;
  height: 100%;
}
body{
  background-color: #111;
}

.sec-title{
  color: #222;
  font-size: 1.2em;
  text-transform: uppercase;
  margin-bottom: 0px;
}

hr{
  /* Used for underlining sec-title */
  width:40px;
  height:3px;
  background-color: #222;
  content:"";
  margin-top: 10px;
  margin-bottom: 50px;
}

/******** Navbar ********/
#navbar {
  list-style-type: none;
  margin: 0px;
  padding: 0 5% 0px 5%;
  background-color: rgba(0,0,0,0.85);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 5;
}

#navdrop{
  display: none;
  list-style-type: none;
  margin: 0px;
  padding: 60px 5% 5px 0px;
  background-color: rgba(1,1,1,0.85);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 4;
  text-align: right;
}

.navlist {
  display: none;
  float: right;
}

.navdroplist {
  margin-bottom: 5px;
}

.listminimenu {
  display: block;
  float: right;
  padding: 14px 16px;
}

li a {
  color: #DDD;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  margin: 0px;
}

/*li a:hover {
  background-color: rgba(255, 153, 51, 0.95);
  color: #000;
  text-decoration: none;
}*/
li a:hover {
  color: rgb(255, 153, 51);
  text-decoration: none;
}
li.navdroplist a:hover{
  background: none;
  color: rgb(255, 153, 51);
  text-decoration: none;
}

.listbrand{
  float:left;
}

#topbrand {
  display: block;
  color: #DDD;
  text-align: center;
  padding: 14px 16px;
  margin: 0px;
  text-decoration: none;
}

#navbtn{
  background: none;
  border: none;
  color: #DDD;
}
#navbtn:active, #navbtn:focus{
  outline: 0;
}


/* Responsive: Navbar for large screens >768px */
@media (min-width: 768px) {
li a {
  display: block;
  }
.listbrand{
  float:left;
  }
.navlist{
  display: block;
}
.listminimenu{
  display: none;
}
}

/******** END NAVBAR ********/



/*******  CSS COVER  *******/
header.cover {
  position: relative;
  width: 100%;
  min-height: auto;
  background-image: url("https://img11.hostingpics.net/pics/328217StockSnapLE8PCMM4GS2.jpg");
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: white;
  font-size: 1.5em;
  font-family: 'Source Code Pro', monospace;
}

    header.cover .cover-content {
      position: relative;
      width: 100%;
      padding: 270px 0px 30px 0px;
      text-align: center;
    }
    header.cover .cover-arrow {
      display: none;
      position: relative;
      width: 100%;
      padding: 0px 15px 0px;
      text-align: center;
      font-size: 1em;
    }

@media (min-width: 768px) {
     header.cover {
        height: 100vh;
      }
     header.cover .cover-content {
        position: absolute;
        top: 80%;
        padding: 0 50px;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
      }
     header.cover .cover-arrow {
       display: block;
       position: absolute;
       top: 100%;
       padding: 0 50px 30px 50px;
       -webkit-transform: translateY(-50%);
       -ms-transform: translateY(-50%);
       transform: translateY(-50%);
      }
      }
/**********  END CSS COVER  ***********/


/**********    SECTIONS     **********/
.sec-work{
  width: 100%;
  padding: 75px 5% 75px 5%;
  background-color: #EEE;
  z-index: 50;
}
.sec-about{
  width: 100%;
  margin: -20px 0px 0px 0px;
  padding: 75px 0px 75px 0px;
  background-color: #DDD;
  z-index: 50;
}
.sec-skills{
  width: 100%;
  margin: -20px 0px 0px 0px;
  padding: 75px 0px 75px 0px;
  background-color: #CCC;
  z-index: 50;
}
.sec-contact{
  width: 100%;
  margin: -10px 0px 0px 0px;
  padding: 10px 0px 10px 0px;
  background-color: #222;
  z-index: 50;
}
/******** END SECTIONS ********/





/********* WORK **********/
.p-0{
margin: 0 !important;
padding: 0px !important;
}

.projet{
  margin: 0 0 50px 0;
  height: auto;
}

.projet-titre{
  color: #222;
  font-size: 1em;
  text-align: center;
  font-weight: bold;
  margin: 8px 0px 0px 0px;
  text-transform: uppercase;
}

.projet-p{
  color: #333;
  text-align: center;
  margin: 0 0 0 0;
  font-size: 0.8;
}

.projet-card{
  position: relative;
}

.projet-img{
  width: 100%;
  height: auto;
  padding: 50% 0 0;
  opacity: 0.9;
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: center center;
  backface-visibility: hidden;
  background-image: url("https://img11.hostingpics.net/pics/620173marioprojet404.gif");
  transition: 0.3s ease-in-out;
}

.middle {
  position: absolute;
  left: 94%;
  top: 12%;
  -o-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  opacity: 1;
  transition: 0.3s ease-in-out;
}


.middle a {
  text-decoration: none;
}


.projet-card:hover .middle{
  opacity: 1;
}

.projet_view_text{
    display: none;
    background-color: #111;
    color: #DDD;
    font-size: 1em;
    padding: 10px 0px;
    width: 150px;
    text-decoration: none;
    border: 1px solid #111;
}

.projet_view_logo{
  display: block;
  color: #FFF;
  font-size: 1.2em;
  text-decoration: none;
}

@media (min-width: 576px) {
    .middle {
    position: absolute;
    left: 50%;
    top: 50%;
    -o-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: 0.3s ease-in-out;
  }
  .projet_view_text{
    display: block;
    background-color: #111;
    color: #DDD;
    font-size: 1em;
    padding: 10px 0px;
    width: 150px;
    text-decoration: none;
  } 
  .projet-card:hover .projet-img{
    opacity: 0.1;
  }
  .projet_view_logo{
    display: none;
  }
}
}
/********* END WORK **********/

/********* ABOUT ME **********/
#profile{
 margin-bottom: 20px;  
}

.text-me{
  margin-top: 10px;
  padding: 0 10%;
}
@media (min-width: 576px){.text-me{padding:0;}}

.img-me{width: 40%;}
@media (min-width: 576px) {.img-me{ width: 100%; }}
@media (min-width: 768px) {.img-me{ width: 100%; }}
@media (min-width: 992px) {.img-me{ width: 70%; }}
@media (min-width: 1200px) {.img-me{ width: 70%; }}

.skillset{
 padding-bottom: 0px;  
}

.ico-skill{
  margin-bottom: 20px;
  margin: 0 15px;
  font-size: 4em;
  line-height: 150%;
}

.social{
  color: #222;
  font-size: 2.5em;
  margin: 25px 10px 0 10px;
}
.social:hover{
  color: rgb(255, 153, 51);
}
/******* END ABOUT ME ********/

/*******    FOOTER   ********/
#footer{
  list-style-type: none;
  width: 100%;
  text-align: right;
}
.footer_right{
  float: right;
  color: #CCC;
  font-size: 0.7em;
  margin: 0 3% 0 0;
}
.footer_left{
  float: left;
  color: #CCC;
  font-size: 0.7em;
  margin: 0 0 0 3%;
}
/*******  END FOOTER ********/



/******* BLINK ANIMATIONS ********/
.blink_text {
    color:rgb(255, 153, 51);
    animation:1s blinker linear infinite;
    -webkit-animation:1s blinker linear infinite;
    -moz-animation:1s blinker linear infinite; 
    }

    @-moz-keyframes blinker {  
     0% { opacity: 1.0; }
     50% { opacity: 0.0; }
     100% { opacity: 1.0; }
     }

    @-webkit-keyframes blinker {  
     0% { opacity: 1.0; }
     50% { opacity: 0.0; }
     100% { opacity: 1.0; }
     }

    @keyframes blinker {  
     0% { opacity: 1.0; }
     50% { opacity: 0.0; }
     100% { opacity: 1.0; }
     }

    a.blink_text:hover {
      color: rgb(255, 153, 51);
      text-decoration: none;
        }
